.fejnman__title {
    width: 648px;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 70px;
}