.techniques {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
}

.section-subtitle {
    text-align: center;
    width: 60%;
    line-height: 1.5;
    font-size: 24px;
    font-weight: normal;
    padding-top: 20px;
    margin: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    padding-top: 60px;
}

.cards__item {
    width: 240px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.cards__item:nth-of-type(3n) {
    margin-right: 0;
}

.cards__image {
    width: 160px;
    height: 160px;
    margin: 0 40px 43px;
    clip-path: circle(50% at 50% 50%);
}

.cards__title {
    margin-bottom: 16px;
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
    text-align: center;
    font-weight: bold;
}

.cards__description {
    font-family: 'Inter-Regular', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;
    margin: auto;
}