.description {
    padding-top: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    margin-top: 25px;
    margin-right: 75px;
}

.two-columns__main-text {
    width: 80%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragrap {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}