.khan {
    padding-top: 100px;
    margin: auto;
    background-color: #F2F2F2;
}

.khan__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.khan__quote {
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: O;
    padding-top: 50px;
    padding-bottom: 36px;
}

.khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.khan__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.khan__book-container {
    display: flex;
    margin: 0;
    padding-top: 68px;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    margin: 0;
    padding-right: 48px;
    object-fit: cover;
    object-position: top left;
}

.khan__buy-link {
    height: 30px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
}

.khan__buy-link:hover {
    color: #6ea3e9;
}