.fejnman {
    position: relative;
    padding-top: 80px;
    height: 890px;
    background-color: #F2F2F2;
}

.fejnman-photo {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.fejnman__title {
    width: 648px;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 70px;
}

.fejnman__subtitle {
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
}

.fejnman__link {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
}

.fejnman__link:hover {
    color: #6ea3e9;
}