@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/header/header.css);
@import url(../blocks/page/header/__link/header__link.css);
@import url(../blocks/page/header/__logo_place_header/logo_place_header.css);
@import url(../blocks/page/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/page/header/__square-pic/header__square-pic.css);
@import url(../blocks/page/header/__subtitle/header_subtitle.css);
@import url(../blocks/page/header/__title/header__title.css);
@import url(../blocks/page/content/content.css);
@import url(../blocks/page/content/description/description.css);
@import url(../blocks/page/content/description/two-columns/two-columns.css);
@import url(../blocks/page/content/description/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/page/content/description/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/page/content/description/two-columns/__paragrap/two-columns__paragrap.css);
@import url(../blocks/page/content/description/two-columns/__span-accent/.two-columns__span-accent.css);
@import url(../blocks/page/content/techniques/techniques.css);
@import url(../blocks/page/content/techniques/section-title/section-title.css);
@import url(../blocks/page/content/techniques/section-subtitle/section-subtitle.css);
@import url(../blocks/page/content/techniques/cards/cards.css);
@import url(../blocks/page/content/techniques/cards/__item/cards__item.css);
@import url(../blocks/page/content/techniques/cards/__image/cards__image.css);
@import url(../blocks/page/content/techniques/cards/__title/cards__title.css);
@import url(../blocks/page/content/techniques/cards/__description/cards__description.css);
@import url(../blocks/page/content/video/video.css);
@import url(../blocks/page/content/video/__iframes/video__iframes.css);
@import url(../blocks/page/content/video/__iframes/__iframe/video__iframe.css);
@import url(../blocks/page/content/oakley/oakley.css);
@import url(../blocks/page/content/fejnman/fejnman.css);
@import url(../blocks/page/content/fejnman/__title/fejnman__title.css);
@import url(../blocks/page/content/fejnman/__subtitle/fejnman__subtitle.css);
@import url(../blocks/page/content/fejnman/fejnman-photo/fejnman-photo.css);
@import url(../blocks/page/content/fejnman/__link/fejnman__link.css);
@import url(../blocks/page/content/digits/digits.css);
@import url(../blocks/page/content/digits/table/table.css);
@import url(../blocks/page/content/digits/table/__cell/table__cell.css);
@import url(../blocks/page/content/digits/table/__heading/table__heading.css);
@import url(../blocks/page/content/digits/table/__text/table__text.css);
@import url(../blocks/page/content/khan/khan.css);
@import url(../blocks/page/content/khan/__container/khan__container.css);
@import url(../blocks/page/content/khan/__container/__author/khan__author.css);
@import url(../blocks/page/content/khan/__container/__title/khan__title.css);
@import url(../blocks/page/content/khan/__container/__quote/khan__quote.css);
@import url(../blocks/page/content/khan/__container/__book-container/khan__book-container.css);
@import url(../blocks/page/content/khan/__container/__book-container/__book-pic/khan__book-pic.css);
@import url(../blocks/page/content/khan/__container/__book-container/__buy-link/khan__buy-link.css);
@import url(../blocks/page/content/kaufman/kaufman.css);
@import url(../blocks/page/content/resources/resources.css);
@import url(../blocks/page/content/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/page/content/resources/__logo-zone/__logo/resources__logo.css);
@import url(../blocks/page/footer/footer.css);
@import url(../blocks/page/footer/__columns/footer__columns.css);
@import url(../blocks/page/footer/__columns/__column_content_copyright/footer__column_content_copyright.css);
@import url(../blocks/page/footer/__columns/__column_content_copyright/logo_place_footer/logo_place_footer.css);
@import url(../blocks/page/footer/__columns/__column_content_copyright/__author/footer__author.css);
@import url(../blocks/page/footer/__columns/__column-heading/footer__column-heading.css);
@import url(../blocks/page/footer/__columns/__column-links/footer__column-links.css);
@import url(../blocks/page/footer/__columns/__column-links/__list_item-link/footer__list_item-link.css);
@import url(../blocks/page/footer/__columns/__column-links/__list_item-link/__link/footer__link.css);
@import url(../blocks/page/footer/__columns/__column-links/__list_item-link/__social-icon/footer__social-icon.css);
@font-face {
    font-family: 'Inter-Bold';
    src: url(../vendor/Inter/Inter-Bold.woff), url(../vendor/Inter/Inter-Bold.woff2);
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../vendor/Inter/Inter-Regular.woff), url(../vendor/Inter/Inter-Regular.woff2);
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url(../vendor/Inter/Inter-SemiBold.woff), url(../vendor/Inter/Inter-SemiBold.woff2);
}